

body {
    background-color: #000E30;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .heading {
    color: white;
    margin-top: 80px;
    font-size: 10px;
  }
  
  .paragraph {
    font-size: 20px;
  }
  
  .image {
    width: 600px;
    height: 600px;
    margin-top: 80px;
  }
  
  .btn {
    padding: 12px 22px;
    background-color:#000E30;
    color: white;
    border: solid #D51384 ;
    font-weight: bold;
    font-size: medium;
  }
  h2{color: #D51384;
  font-size: 50px;}
  
  /* Media Queries */
  
  /* Extra Small Devices (Phones) */
  /* @media (max-width: 576px) {
    .heading {
      font-size: 20px;
      margin-top: 30px;
      padding-left: 5%;
    }
  
    .paragraph {
      font-size: 10px;
    }
  
    .image {
      width: 100px;
      height: auto;
      margin-top: 30px;
      padding-left: 4%;
    }
    .container {
      flex-direction: column;
      flex-wrap: wrap;
    }
  
  } */
  
  /* Small Devices (280px to 340px) */
@media (min-width: 280px) and (max-width: 340px) {
  .heading {
    font-size: 18px;
    margin-top: 60px;
    padding-left: 5%;
  }

  .paragraph {
    font-size: 12px;
  }

  .image {
    width: 200px;
    height: auto;
    margin-top: 60px;
    padding-left: 5%;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* Small Devices (340px to 440px) */
@media (min-width: 340px) and (max-width: 440px) {
  .heading {
    font-size: 20px;
    margin-top: 60px;
    padding-left: 5%;
  }

  .paragraph {
    font-size: 15px;
  }

  .image {
    width: 220px;
    height: auto;
    margin-top: 60px;
    padding-left: 5%;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* Small Devices (440px to 540px) */
@media (min-width: 440px) and (max-width: 540px) {
  .heading {
    font-size: 28px;
    margin-top: 60px;
    padding-left: 5%;
  }

  .paragraph {
    font-size: 19px;
  }

  .image {
    width: 260px;
    height: auto;
    margin-top: 60px;
    padding-left: 5%;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* Small Devices (540px to 640px) */
@media (min-width: 540px) and (max-width: 640px) {
  .heading {
    font-size: 35px;
    margin-top: 60px;
    padding-left: 5%;
  }

  .paragraph {
    font-size: 20px;
  }

  .image {
    width: 300px;
    height: auto;
    margin-top: 60px;
    padding-left: 5%;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* Small Devices (640px to 740px) */
@media (min-width: 640px) and (max-width: 740px) {
  .heading {
    font-size: 40px;
    margin-top: 60px;
    padding-left: 5%;
  }

  .paragraph {
    font-size: 22px;
  }

  .image {
    width: 360px;
    height: auto;
    margin-top: 60px;
    padding-left: 5%;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* Small Devices (740px to 880px) */
@media (min-width: 740px) and (max-width: 880px) {
  .heading {
    font-size: 45px;
    margin-top: 60px;
    padding-left: 5%;
  }

  .paragraph {
    font-size: 24px;
  }

  .image {
    width: 400px;
    height: auto;
    margin-top: 60px;
    padding-left: 5%;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

